* {
    padding: 0px;
    margin: 0px;
}

body {
    margin-top: 10px;
    font-family: roboto;
}

a {
    text-decoration: none;
    color: grey;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    display: inline;
    padding: 10px;
}

#hero {
    margin-top: 10px;
    border: 1px solid black;
    background-image: url(./images/hero/top-section_2180x750.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(37, 37, 37, 0.185);
    background-blend-mode: multiply;
    min-height: 700px;
    align-items: center;
    color: white;
    padding: 50px;
}

.vertical {
    padding: 200px 0px;
}

.btn {
    border-radius: 0px;
    padding: 10px 50px 10px 50px;
}

#text1, 
#text2, 
#text3 {
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#card1,
#card2,
#card3 {
    padding: 30px 30px 30px 30px;
    min-width: 360px;
}

.card {
    border: none;
}

#txt_color {
    color: white;
}

p {
    color: gray;
}

h2 {
    font-weight: 300;
    font-size: 30px;
}

h3 {
    font-size: 45px;
    font-weight: 300;
}

#logos {
    background-color: rgb(233, 233, 233);
    min-height: 530px;
}

#con_width {
    max-width: 900px;
}

#image {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 300px;
}

#startups {
    align-items: center;
    padding: 100px 50px 100px 50px;
    margin: 20px 30px 0px 30px;
    background-image: url(./images/collections/collection-startup_460x184.png);
    color: white;
    background-color: rgba(233, 154, 7, 0.199);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#machinelearning {
    padding: 100px 50px 100px 50px;
    margin: 20px 30px 0px 30px;
    background-image: url(./images/collections/collection-ml_461x184.png);
    color: white;
    background-color: rgba(85, 83, 218, 0.37);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#startups:hover,
#machinelearning:hover {
    background-color: #000000cc;
}

#footer-links {
    background-color: rgb(22, 25, 53);
    padding: 20px 10px 10px 10px;
    color: white;
}

#paste-link {
    max-width: 900px;
}

#search {
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
}

#tagnow-button {
    padding: 10px;
    border: none;
    background-color: rgba(0, 73, 122, 0.808);
    color: white;
    border-radius: 1px;
}

#con-fluid {
    background-color: rgb(233, 233, 233);
    min-height: 400px;
}

#width2 {
    padding-left: 50px;
    padding-right: 50px;
}

#copyrights {
    background-color: rgb(24, 24, 24);
    color: white;
    padding-top: 20px;
}
